
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng nhập</title>
    <link href="~/Content/login/styles.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main style="background-image: url(../../Content/assets/images/locao2.jpg);  height:93vh;">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5" style=" margin-top: 300px;">
                            <div class="card shadow-lg border-0 rounded-lg mt-5" style="background-color: rgba(0, 0, 0, 0.2);">
                                @*<div class="card-header"><h3 class="text-center font-weight-light">Đăng nhập</h3></div>*@
                                <div class="card-body">

                                    @using (Html.BeginForm("LoginUser", "Login", new { id = "myForm" }))
                                    {
                                        <div class="form-group">
                                              <label class="small mb-1" for="inputEmailAddress"><h6> Tài khoản </h6></label>
                                            <input style="background-color: rgb(240, 240, 240, 0.5);" type="text" class="form-control" placeholder="Tài khoản" autofocus>

                                          
                                            @*@Html.TextBoxFor(m => m.MaNV, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                                            @Html.ValidationMessageFor(m => m.MaNV, "", new { @class = "text-danger" })*@
                                            <div id="show_error_user"></div>
                                        </div>
                                        <div class="form-group">
                                             <label class="small mb-1" for="inputPassword"><h6> Mật Khẩu </h6></label> 
                                              <input style="background-color: rgb(240, 240, 240, 0.5);" type="password" class="form-control" placeholder="Mật khẩu" autofocus>

                                                                                    
                                            @*@Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
                                            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })*@
                                            <div id="show_error_pass"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Nhớ tài khoản</label>
                                                <a class="small" href="">Quên mật khẩu?</a>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                          

                                            <input style="width: 526px;" type="submit" value="Đăng nhập" class="btn btn-primary pull-left" id="LoginUser" />
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Nhà máy luyện gang @DateTime.Now.Year</div>
                        <div>
                            <a style=" margin-right: 10px;" href="#">Công ty CP Thép Hòa Phát Dung Quất</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    @if (TempData["msg"] != null)
    {
        Html.Raw(TempData["msg"]);
    }

</body>
</html>
<script>
    $("#MatKhau").keyup(function (event) {
        if (event.keyCode == 13) {
            // LoginUser();
            $("#LoginUser").click();
        }
    });
    var LoginUser = function () {

        //var data = $("#myForm").serialize();
        var tendangnhap = $('#TenDangNhap').val();
        var matkhau = $('#MatKhau').val();
        if (tendangnhap == "") {
            $('#show_error_user').html('Nhập tài khoản!');
            $('#show_error_user').css('color', 'red');
            return false;
        }
        if (matkhau == "") {
            $('#show_error_pass').html('Nhập mật khẩu!');
            $('#show_error_pass').css('color', 'red');
            return false;
        }

    }

    $("#LoginUser").on('click', function () {
        var tendangnhap = $('#TenDangNhap').val();
        var matkhau = $('#MatKhau').val();
        if (tendangnhap == "") {
            $('#show_error_user').html('Nhập tài khoản!');
            $('#show_error_user').css('color', 'red');
            return false;
        }
        if (matkhau == "") {
            $('#show_error_pass').html('Nhập mật khẩu!');
            $('#show_error_pass').css('color', 'red');
            return false;
        }
        if (tendangnhap != "" && matkhau != "") { return true; }
        else { return false; }
    })

</script>

